

<div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-lg-3">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-lg-9">
                <!-- Start Charges and fees -->
                  
        <div class="card">
            <div class="card-header">
                <h5 class="m-2 text-left"><strong>1. Forex Charges beetween countries</strong></h5>
            </div>
        <div class="card-body">
                <div class="table-responsive">
                <table class="table table-bordered table-hover ">
                        <thead class="bg-info text-white">
                          <tr>
                            <th>No.</th>
                            <th>Country 1</th>
                            <th>Country 2</th>
                            <th>Forex Charges 1-2</th>
                            <th>Forex Charges 2-1</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td >1</td>
                                <td>India</td>
                                <td>UAE</td>
                                <td>2%</td>
                                <td>3%</td>
                            </tr>
                            <tr>
                                <td >2</td>
                                <td>India</td>
                                <td>UAE</td>
                                <td>2%</td>
                                <td>3%</td>
                            </tr>
                            <tr>
                                <td >3</td>
                                <td>India</td>
                                <td>UAE</td>
                                <td>2%</td>
                                <td>3%</td>
                            </tr>
                        </tbody>
                      </table>
                      </div>
          <!--Table-->
          
        </div>
        </div>
        
            <!--Table-->
        
            <div class="card mt-5">
            <div class="card-header">    
                <h5 class="m-2"><strong>2. Transaction fees beetween countries</strong></h5>
            </div>
            <div class="card-body">
                    <div class="table-responsive">
           <table class="table trans_fees ">
                        <thead class="bg-info text-white">
                          <tr>
                            <th scope="col">Conversion Table </th>  
                           
                          </tr>
                        </thead>
                        <tbody>
                            <!-- <tr>
                                <td *ngFor="let allFee of countryFee ">
                                    <div> {{allFee.name}}</div>
                                </td>
                            </tr> -->
                            <tr >
                                <td class="d-flex justify-content-around">
                                    <div class="mr-5">IND ~ UAE</div><b class="mr-4">=</b> <input    type="text">
                                    <div><a href="#" class="mr-3">Edit</a>/<span class="ml-3">Yes</span></div>
                                </td>
                            </tr>
                            <tr >
                                <td class="d-flex justify-content-around">
                                    <div class="mr-5">UAE ~ IND</div><b class="mr-4">=</b> <input    type="text">
                                    <div><a href="#" class="mr-3">Edit</a>/<span class="ml-3">Yes</span></div>
                                </td>
                            </tr>
                            <tr >
                                <td class="d-flex justify-content-around">
                                    <div class="mr-5">AUS ~ USD</div><b class="mr-4">=</b> <input    type="text">
                                    <div><a href="#" class="mr-3">Edit</a>/<span class="ml-3">Yes</span></div>
                                </td>
                            </tr>
                        </tbody>
            </table>
            </div>
                </div>   
            </div>
 
                <!--table3-  -->
        
                <div class="card my-5">
                    <div class="card-header">
                        <h5 class="m-2 text-left"><strong>3. Currency Conversion Rate</strong></h5>
                    </div>
                    <div class="card-body">    
                      <!--Table-->
                     

                      <div class="table-responsive">
                        <table class="table table-hover">
                                <thead class="bg-info text-white">
                                  <tr>
                                    <th>No.</th>
                                    <th>India</th>
                                    <th>UAE</th>
                                    <th>Check</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td >1</td>
                                        <td>India</td>
                                        <td>UAE</td>
                                        <th>UAE</th>
                                    </tr>
                                    <tr>
                                        <td >2</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <th>UAE</th>
                                    </tr>
                                </tbody>
                    </table>
                    </div>
                    </div>
                    </div>
                <!-- End Charges and fees -->
            </div>
        </div>
    </div>
    
    